/* -----웹폰트 설정----- */
/* https://fonts.google.com/specimen/Gowun+Dodum */
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Gowun Dodum';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: -apple-system, BlinkMacSystemFont, 'Gowun Dodum';
}
