.findLikerContainer{
    /* width: 100vw; */
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* border: 1px solid black; */
}

.findLikerContainer button{
    margin-left: 5px;
    padding: 3px;
    width: 60px;
    height: 30px;
    border-radius: 50px;
    box-sizing: border-box;
    border: none;
    font-size: 11px;
    color: #F7186A;
}

.findLikerListContainer{
    display: flex;
    flex-direction: row;
    /* justify-content: center;
    align-items: center; */

    width: 400px;
    /* height: ; */
    border: 1px solid black;

}

.findLikerLeft{
    
    border: 1px solid black;


}

.findLikerLeft img{
    width: 150px;
    /* height: 100%; */
}

.findLikerRight{
    font-size: 150%;
}