.mypage{
    width:500px;
    display: flex;
    flex-direction: column;
}
.mypage .userinfo{
    width: 100%;
    display: flex;
}
.mypage .userinfo .field{
    width: 100%;
    display: flex;
}

.mypage .img{
    flex-basis: 250px;    
    border: 1px solid orange;
}
.mypage .img img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
}