.SideContainer {
    width: 100%;
    overflow: hidden;
}

.editForm .info-container {
    display: flex;
    flex-direction: column;
    gap: 20px; /* 요소 간격 추가 */
}

.editForm .essential-info,
.editForm .optional-info {
    flex: 1; /* 동일한 비율로 크기 조정 */
    display: flex;
    flex-direction: column;
}

/* 마이페이지 */
.mypage {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.mypage .userinfo {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.mypage .userinfo .field {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* mypage 프로필 이미지 영역 */
.mypage .profileImage {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* 이미지 배경 효과 */
.mypage .profileImage .imgBg {
    position: absolute;
    bottom: 0%;
    width: calc(100% + 50px);
    height: calc(100% + 50px);
    border-radius: 0 0 50% 50%;
    background-image: linear-gradient(-45deg, #ed6ea0, #ec8c69, #f7186a, #FBB03B);
    background-size: 300% 100%;
    animation: colorChange 10s ease infinite;
    z-index: 0;
    filter: blur(20px);
}

@keyframes colorChange {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

/* 프로필 이미지 */
.mypage .profileImage .img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.mypage .profileImage .img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

/* 하단부 공통 버튼 스타일 */
.mypage .btns,
.editForm .btns {
    width: 100%;
    margin: 10px 0;
    display: flex;
    box-sizing: border-box;
    align-items: center;
}
.mypage .btns #btn button,
.editForm .btns button {
    height: 40px;
    margin-right: 5px;
    cursor: pointer;
}

/* 회원정보수정 페이지 */
.SideContainer .editForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.SideContainer .editForm .logo {
    padding-top: 15px;
    font-size: 2.0rem;
}

.editForm .field {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 5px 0;
}

/* .editForm #hobby {
    display: flex;
    flex-direction: column;
    background-color: #c3c3c3;
} */

.editForm .field label {
    width: 80px;
    display: flex;
    align-items: center;
    color: #f7186a;
    font-weight: bold;
    font-size: 14px;
}

.editForm .field input {
    flex-grow: 10;
    flex-basis: 0;
    margin: 8px 0;
    width: 70%;
}

.editForm .field select,
.editForm .field div {
    flex-grow: 4;
    flex-basis: 0;
    margin: 8px 0;
    width: 75%;
    padding: 10px;
    border-radius: 10px;
    font-size: 14px;
    border: none;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.editForm .field .checkbox {
    border-radius: 10px;
    background-color: #eee;
    border: none;
    box-shadow: none;
}

.editForm .essential-info,
.editForm .optional-info {
    flex-grow: 4;
    flex-basis: 0;
}

/* 취미 영역 */
.editForm .hobby .hobby-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.editForm .hobby .hobby-form{
    display: flex;
    flex-direction: column;
}

#n1{
    /* border: 1px solid red; */
    margin-left: 10px; padding: 3px;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

#n1 label{
    width: 70%;
    /* border: 1px solid blue; */
}

.editForm .title {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.editForm .field .ProfileImg {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.editForm .field img {
    width: 100%;
    height: auto;
    object-fit: contain;
}


/* 반응형 스타일 */
@media (max-width: 768px) {
    .editForm .field label {
        justify-content: center;
        width: fit-content;
    }
    .mypage .btns {
        flex-direction: column;
        align-items: center;
    }
    .mypage .btns #btn button,
    .editForm .btns button {
        margin: 10px;
        width: 250px;
    }
    .editForm .field {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 480px) {
    .mypage .btns {
        flex-direction: column;
        align-items: center;
    }
    .mypage .btns #btn {
        margin: 5px;
    }
    .editForm .field {
        flex-direction: column;
        align-items: center;
    }
}
