/* mystargram.css */
/* 메인 컬러 코드 : #f7186a */

/* -----웹폰트 설정----- */
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

.App{
    width:99vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-family: 'Gowun Dodum';
    }


/* -----반응형 media----- */
@media (max-width:600px) {
    .loginform .field , .loginform .btns , .loginform .snslogin{
        flex-direction: column;

    }
    .loginform .field input, 
    .loginform .btns button, 
    .loginform .snslogin button{
        margin: 5px 0;
        padding:10px;
    }
}