.near-member-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  color: #333;
  text-align: center;
  margin: 0;
}

.near-member-container h2{
  padding: 25px 0;
}

.search-controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.search-controls label {
  padding-right: 10px;
}

.search-controls input {
  width: 80px;
  padding: 5px;
  margin: 0 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-controls .btns {
  width: 30%;
}

.search-controls .btns button{
  width: 100%;
}

.search-controls button:hover{
  background-position: 100% 0;
  color: #fff;
}
  
.member-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  list-style-type: none;
  width: 80%;
  padding: 0;
}

.member-list .member-item {
  display: flex;
  align-items: center;
  width: 90%;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  gap: 10px;
  padding: 10px;
  margin-bottom: 15px;
  justify-content: center;
  transition: transform 0.2s;
}
.member-list .member-item:last-child {
  margin-bottom: 35px;
}
.member-list .member-item:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
  
.member-avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
}
.member-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
  
.member-info {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
  
.member-name {
  font-weight: bold;
}
  
.member-distance {
  font-size: 0.9em;
  color: #666;
}

.nearMemberBtns button{
  width: 100px;
  height: 30px;
}

.nearMemberBtns button:hover{
  background-position: 100% 0;
  color: #fff;
}
  
@media (max-width: 600px) {
  .member-list{
    margin: 0;
  }
  .search-controls {
    flex-direction: column;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    bottom: 2dvh;
    gap: 8px;
  }
  .search-controls .btns {
    width: 80%;
  }
  .member-list .member-item:last-child {
    margin-bottom: 15dvh;
  }
}
  