.Container{
    display: flex;
    font-family: 'Gowun Dodum', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.left{
    flex:2;
    border-right: 1px solid #f7186a;
}

.MainMenu{
    background-image: linear-gradient(to top, #ed6ea0, #ec8c69, #f7186a, #FBB03B);
}
.Posts{
    height: 800px;
    padding:5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}
.post{
    width:55%;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;;
}
.writer{
    margin:5px;
    border:1px solid black;
    font-weight: bold;
    padding:3px;
}
.imgs{
    margin:5px;
    border:1px solid black;
    padding:3px;
    width:95%;
    height:600px;
    align-Self:center;
    overflow:hidden;
    border-radius: 30px;
}
.imgs img{
    width:320px;
    height:600px;
}

.like{
    margin:5px;
    border:1px solid black;
    padding:3px;
}
.content{
    margin:5px;
    border:1px solid black;
    padding:3px;
}
.reply{
    margin:5px;
    border:1px solid black;
    padding:3px;
}

img{
    vertical-align: middle;
}

.right{
    width:650px;
    background-color: #ed6ea0;
    opacity: 15%;
}


/* 반응형 스타일 */
@media (max-width: 600px) {

}