.searchContainer{
    width: 100%;
    /* height: 100vh; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 1px solid black;
}

.searchMemberContainer{
    display: flex;
    flex-direction: row;

    margin-bottom: 20px;
}

.searchMemberImg{
    width: 50px;
}

.searchMemberImg img{
    width: 100%;
}