.MenuBar{
    width:55px;     height:93vh;
    display: flex;  justify-content: center;
    background-color: #ed6ea0;
    border-radius: 0 50px 50px 0;
    padding-top: 45px;
    position: fixed;
}

/* 프로필 이미지 */
.MenubarBtns #btn img{
    width: 100%;
}

/* 버튼 */
#btn{
    width:45px;    height:45px;
    background-color: #ed6ea0;
    margin: 15px;
}

#btn svg {
    width: 30px;    height: 30px;
    color: #fff;
}

/* 마우스 오버 */
#btn svg {
    width: 30px;    height: 30px;
    color: #fff;
}

.SidebarContent{
    width: 500px; height: 100%;
    position: relative;
}

.SidebarContent div{
    width:500px;
    height:2000px;
    background-color: rgba(237, 110, 161, 0.5);
    border-radius: 0 50px 50px 0;
    padding-top: 45px;
    /* display:none; */
    position:absolute; left:-500px;

}