.SideContainer {
    width: 100%;
    overflow: hidden;
}

.postWrite {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    align-items: center;
    width: 100%;
}

#write-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

#write-form .field {
    display: flex;
    align-items: center;
}

.field {
    width: 100%;
    display: flex;
    margin: 5px 0;
    justify-content: space-between;
}

#write-form .field label {
    flex: 1 1 auto;
    font-weight: bold;
    margin: 5px 0;
}

.bubble-wrapper {
    position: relative;
    width: 70%;
    padding: 10px;
    background-color: rgba(255,255,255,0.3);
    border: 2px solid #ccc;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    margin: 10px 0;
}

/* 말풍선 꼬리 */
.bubble-wrapper::after {
    content: "";
    position: absolute;
    top: 21px; /* 꼬리 위치 */
    left: -15px;    /* 꼬리의 좌우 위치 */
    border-width: 10px 0 10px 15px;
    border-style: solid;
    border-color: #f9f9f9 transparent transparent transparent;
}

/* 말풍선 꼬리 테두리 */
.bubble-wrapper::before {
    content: "";
    position: absolute;
    top: 21px; /* 꼬리 위치 */
    left: -18px;    /* 꼬리의 좌우 위치 */
    border-width: 12px 0 12px 17px;
    border-style: solid;
    border-color: #ccc transparent transparent transparent;
}

/* textarea 자체 */
.bubble-textarea {
    width: 100%;
    height: 40vh;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: transparent;
    resize: none;
    font-size: 16px;
    outline: none;
    box-sizing: border-box;
}

/* 포커스 시 효과 (꼬리 포함) */
.bubble-wrapper:focus-within {
    border-color: rgba(247, 24, 106, 0.4);
    box-shadow: 0 0 8px rgba(247,24,106,0.4);
}

/* 꼬리도 포커스 색상으로 변경 */
.bubble-wrapper:focus-within::before {
    border-color: #f7186a transparent transparent transparent;
}

.bubble-wrapper:focus-within::after {
    border-color: #f9f9f9 transparent transparent transparent;
}



.field img {
    flex: 1 1 auto; 
    border-radius: 20px;
    width: 100%;
    height: auto;
    object-fit: contain;
}

/* 버튼 */
/* 파일 업로드 버튼 */
.field button {
    width: 80px;
    cursor: pointer;
}

.btns button {
    width: 80px;
    height: 30px;
    background-image: linear-gradient(to right, #ed6ea0, #ec8c69, #f7186a, #FBB03B);
    background-size: 300% 100%;
    border-radius: 20px;
    font-weight: 500;
    font-size: 13px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .btns button:hover{
    background-position: 100% 0;
    color: #fff;
  }
  
  #file {
    display: none;
  }