.statisticsContainer{
    position: relative;
    min-width: 320px;
    width: 50%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 5vh 0 5vh 0;
    font-size: 12px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(4.5px);
    -webkit-backdrop-filter: blur(4.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    overflow: hidden;
    padding-bottom: 0;
}

.statisticsContainer h3{
    font-size: 200%;

}

.statisticsContainer div{
    font-size: 150%;
}

.statisticsContainer .img{
    width: 100%;

}

.statisticsContainer .img img{
    width: 100%;
}


@media (max-width: 480px) {  

    .statisticsContainer{
        margin-left: 20px; /* 더 작은 화면에서 여백 축소 */
        /* width: 100%;
        min-width: 280px; */
        height: 80dvh;
        margin: 10vh 0vh 10vh 7dvh;
    }    
}
