/* 전체 채팅 페이지 스타일 */
.chat-container,
.chat-room-list,
.create-chat-room,
.chat-room {
  display: flex;
  width: 100%;
  align-items: center;
  background-color: transparent;
}

.chat-container {
  height: 100dvh;
  overflow: hidden;
}

/* 채팅방 목록 */
.chat-room-list {
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  overflow-y: auto;
}
.chat-room-list h2 {
  padding: 25px 0 15px 0;
}
.chat-room-list h3 {
  width: 100%;
  text-align: center;
  margin: 0;
  color: #333;
}
.chat-room-list ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  list-style: none;
  align-items: center;
  padding:0;
  margin: 0;
}
.chat-room-list li {
  width: 83%;
  margin: 5px 0;
  border-radius: 8px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 15px;
  cursor: pointer;
  overflow: hidden;
}
.chat-room-list li:last-child {
  margin-bottom: 3dvh;
}
.chat-room-list li #title {
  color: #333;
  font-weight: bold;
  font-size: 1em;
}
.chat-room-list li #host {
  color: #666;
  font-size: 0.9em;
}
.chat-room-list .sub-chatroom #title,
.chat-room-list .sub-chatroom #host {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.chat-room-list .sub-chatroom .btns {
  margin-top: 5px;
}
.chat-room-list button {
  width: 100%;
}

/* 채팅방 만들기 */
.create-chat-room {
  justify-content: center;
  flex-direction: row;
  gap: 8px;
  width: 100%;
  font-size: 0.9em;
  padding-bottom: 10px;
}
.create-chat-room #create-header {
  align-items: center;
  justify-content: center;
}
.create-chat-room input[type="text"] {
  flex: 1;
  min-width: 250px;
  padding: 5px 3px;
}
.create-chat-room input[type="checkbox"] {
  flex: 0;
  width: 15px;
}
.create-chat-room button {
  flex: 0.5; /* 버튼은 중간 정도 */
  min-width: 120px;
}

/* 실시간 채팅방 */
.chat-room {
  flex-direction: column;
  height: 100dvh;
}

/* 채팅방 헤더 스타일 */
.chat-room-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  justify-content: flex-start;
  align-items: center;
  background: white;
  border-bottom: 2px solid #ddd;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.chat-room-header h1 {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.leave-button {
  background: red;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 5px;
  transition: background 0.3s;
  width: 100px;
}

/* 채팅 메시지 영역 */
.chat-messages {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 150px);
  padding: 15px;
  overflow-y: auto;
  margin-bottom: 9dvh;
}

.message {
  padding: 10px;
  margin: 5px 10px;
  border-radius: 10px;
  max-width: 75%;
  word-wrap: break-word;
  font-size: 14px;
}

.message.self {
  align-self: flex-end;
  background-color: #ffc66966;
  text-align: left;
  border-radius: 10px 10px 0 10px;
}

.message.other {
  align-self: flex-start;
  background-color: #ff7cac66;
  color: black;
  text-align: left;
  border-radius: 10px 10px 10px 0;
}

.profile-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 8px;
}

/* 입력창 스타일 */
.chat-input {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 500px;
  border-top: 1px solid #ddd;
  padding: 5px 0 4dvh 0;
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: 0;
}

.chat-input input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.chat-input button {
  white-space: nowrap;
  width: 60px;
  background-color: rgb(83, 83, 83);
  padding: 10px 15px;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
  height: 40px;
  font-size: 15px;
}

.home-icon {
  cursor: pointer;
  margin-left: 10px;
  font-size: 1.5rem;
  color: #333;
}


/* 시스템 메시지 스타일 */
.system-message {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #666;
  margin: 10px 0;
  padding: 8px 12px;
  background: #f1f1f1;
  border-radius: 10px;
  max-width: 80%;
  align-self: center;
}

.user-list {
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.user-nickname {
  background-color: #f0f0f0;
  padding: 4px 8px;
  border-radius: 5px;
  font-size: 14px;
}

.no-user {
  color: gray;
  font-size: 14px;
}



/* 반응형 */
@media (max-width: 768px){
  /* 채팅방 만들기 */
  .create-chat-room {
    display: flex;
    flex-direction: column-reverse;
    align-items: stretch;
    order: 2;
    width: 95%;
    gap: 0;
    position: absolute;
    bottom: 4dvh;
    padding-bottom: 0;
    border-top: 1px solid #ddd;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px 8px 0 0;
  }
  .create-chat-room #create-header {
    display: flex;
    flex-direction: row;
  }
  .create-chat-room input[type="text"] {
    flex: 1;
    min-width: 150px;
    padding: 5px 3px;
  }
  .create-chat-room input[type="checkbox"] {
    flex: 0;
    width: 15px;
  }
  .create-chat-room button {
    flex: 1;
    min-width: 120px;
    border-radius: 8px 8px 0 0;
  }
  /* 채팅방 목록 */
  .chat-room-list li:last-child {
    margin-bottom: 15dvh;
  }
}