/* .chatRoomFromRandomContainer{
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chatRoomFromRandomContents{
    width: 90%;
}

.chatRoomFromRandomContents .chat {    
    background-color: #f0f0f0;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

로그인한 사용자의 메시지 스타일
.chatRoomFromRandomContents .chat.myChat {
    text-align: right;
    justify-content: end;
}

.chatRoomFromRandomContents .chatContainer{
    display: flex;
    flex-direction: row;
    width: 20vw;
}

.chatRoomFromRandomContents .chatImg{
    width: 5vh;
    height: 5vh;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.chatRoomFromRandomContents img{
    width: 100%;
}

.chatRoomFromRandomContents .chatContent{
    border: 1px solid black;
    width: 100%;
}

.findChatGroupRandomContainer button{
    height: 30px;
    background-image: linear-gradient(to right, #ed6ea0, #ec8c69, #f7186a, #FBB03B);
    background-size: 300% 100%;
    border-radius: 20px;
    font-weight: 500;
    font-size: 13px;
    cursor: pointer;
}

.findChatGroupRandomContainer button:hover{
    background-position: 100% 0;
    color: #fff;
}

.findChatGroupRandomListContainer{
    width: 80%;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 15px;
    display: flex
;
    align-items: center;
    transition: transform 0.2s;
}

.findChatGroupRandomListContainer:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
} */